# Dependencies
node_modules
.pnp
.pnp.js

# Build Output
build
dist

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.idea

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Storybook
storybook-static
