@import './style.scss';

.wp-block-fc-card-grid {
    border: 1px dashed #ccc; /* Helper for editor visibility */
    padding: 1rem;

    .fc-card-grid__grid {
        display: grid;
        grid-template-columns: 1fr; /* Mobile default */
        gap: var(--spacing-32, 2rem);
        margin-top: var(--spacing-48, 3rem);
    }
}
