.fc-fundraiser-grid {
    display: grid;
    grid-template-columns: repeat(var(--fc-grid-columns, 3), minmax(0, 1fr));
    gap: var(--wp--style--block-gap, 32px);
    width: 100%;
    min-height: 1px;

    &.is-columns-1 { grid-template-columns: minmax(0, 1fr); }
    &.is-columns-2 { grid-template-columns: repeat(2, minmax(0, 1fr)); }
    &.is-columns-3 { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    &.is-columns-4 { grid-template-columns: repeat(4, minmax(0, 1fr)); }

    @media (max-width: 900px) {
        grid-template-columns: repeat(min(var(--fc-grid-columns, 3), 2), minmax(0, 1fr));
    }

    @media (max-width: 600px) {
        grid-template-columns: minmax(0, 1fr);
    }
}
